.footer{
    padding-top: 15rem;
    padding-bottom: 4rem;

    .container.big{
        width: 90%; 
        max-width: 1300px;
        border-top: 1px solid #D4D4D4;
        padding-top: 7.5rem;

        @media only screen and (max-width: $mbl-land){
            display: none;
        }
    }

    .footer__info{
        @media only screen and (max-width: $mbl-land){
            max-width: 85%;
            margin: 0 auto 50px auto;
        }
    }

    p.p__text{
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
        @media only screen and (max-width: $mbl-land){
            font-size: 1.8rem;
        }
    }

    &__grid{
        display: flex;
        flex-wrap: wrap;

        

        &-item{
            flex: 0 0 20%;
        }
        &-item1{
            flex: 0 0 20%;
            margin-right: 2%;
            @media only screen and (max-width:$laptop-land){
                flex: 0 0 30%;
                
            }
            @media only screen and (max-width:$tab-port){
                flex: 0 0 50%;
                
            }
            
        }
        &-item2{
            flex: 0 0 15%;
            margin-right: 2%;
            @media only screen and (max-width:$laptop-land){
                flex: 0 0 30%;
                
            }
            @media only screen and (max-width:$tab-port){
                flex: 0 0 50%;
                
            }
        }
        &-item3{
            margin-right: 1%;
            @media only screen and (max-width:$laptop-land){
                flex: 0 0 30%;
               
            }
            @media only screen and (max-width:$tab-port){
                flex: 0 0 50%;
                
            }
        }
        &-item4{
            flex: 0 0 15%;
            @media only screen and (max-width:$laptop-land){
                flex: 0 0 30%;
                
            }
            @media only screen and (max-width:$tab-port){
                flex: 0 0 50%;
                
            }
        }

        &-item5{
            flex: 0 0 25%;
            @media only screen and (max-width:$laptop-land){
                flex: 0 0 50%;
                justify-self: center;
            }
            @media only screen and (max-width:$tab-port){
                flex: 0 0 100%;
                
            }
        }
    }

    &__info{
        margin-bottom: 6rem;
        .footer-logo{
            width: 12rem;
            margin-bottom: 2.2rem;
    
            img{
                width: 100%;
            }
        }

        

        .social__links{
            display: flex;
            align-items: center;

            a.social__links-item{
                &:link,
                &:visited{
                    font-size: 3.2rem;
                    margin-right: 1.7rem;

                    color: #6B6B6B;
                    transition: all .3s;


                    &:hover{
                        color: $color-primary;
                    }
                }
            }
        }
    }


    &__links{
        // margin-bottom: 6rem;
        h3.heading{
            font-size: 2.4rem;
            margin-bottom: 1.8rem;
        }

        &-list{

            li{
                margin-bottom: 1rem;
                a{
                    &:link,
                    &:visited{
                        font-size: 1.3rem;
                        color: #000 !important;
                        transition: all .3s;

                        &:hover{
                            color: $color-primary;
                        }
                    }
                }
            }
        }
    }

    &__newsletter{
        @media only screen and (max-width: $mbl-land){
            max-width: 85%;
            margin: 0 auto;
        }

        form.newsletter{
            margin-top: 1rem;
            position: relative;
            height: 40px;

            input.input{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border: none;
                border: 1px solid #C2C2C2;
                padding: 1.2rem 2rem;
                font-size: 1.3rem;
                color: #000;
                border-radius: 1rem;

                &::placeholder{
                    color: #C2C2C2;
                }
            }

            button.send{
                background: none;
                position: absolute;
                z-index: 2;
                border:none;
                top: 50%;
                transform: translateY(-135%);
                right: 2rem;
                display: inline-block;
                user-select: none;
                width: .8rem;
                height: 1.2rem;
                outline: 0;
                svg{
                    width: .8rem;
                    height: 1.2rem;
                    .a{
                        fill: $color-primary;
                    }
                }
            }
        }
    }

    


 p.copyright{
     margin-top: 5rem;
     font-size: 1.3rem;
 }





















//  ============================================
// mobile footer

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background: #fff;
    cursor: pointer;
    position: relative;
    display: block;
    width: 100%;
    // margin-bottom: 5px;
    z-index: 2;
    border: none;
    outline: none;
    transition: 0.3s;
    position: relative;
  }

//   .accordion::after{
//     content:'+';
//     position: absolute;
//     top: 50%;
//     right: 5px;
//     transform: translateY(-50%);
//     font-size: 20px;
//     font-weight: 100;
//     transition: all .3s;
// }

.accordion:after {
    content: "";
    position: absolute;
    top: 45%;
    right: 20px;
    width: 8pt;
    height: 8pt;
    -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
    border-right: 2px solid $color-primary;
    border-bottom: 2px solid $color-primary;
    transition: 0.2s ease;
  }

// .accordion.active::after{
//   content:'-';
// }
  
 
  .accordion__body {
    padding: 0 18px;
    background-color: white;
    /* display: none; */
    overflow: hidden;
  }
  
  .accordion__body {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }



.mobile-footer{
    display: none;
    @media only screen and (max-width: $mbl-land){
        display: block;
    }
    h3.heading{
        margin-top: 5rem;
    }
    .footer__info{
        .footer-logo{
            margin: 0 auto;
        }

        .social__links{
            justify-content: center;
        }
    }

    .footer__links{

        .accordion{
            font-size: 16pt;
            font-weight: bold;
            padding: 2rem 0;
            border-top: 1px solid #C2C2C2;
            // border-bottom: 1px solid #C2C2C2;
            &.acc4{
                border-bottom: 1px solid #C2C2C2;

            }

            &.active{
                &.acc4{
                    border-bottom: 0;
                }
            }
        }



        &-list{
            padding: 1rem 0;

            li{
                a{
                    font-size: 13pt;
                    transition: all .3s;
                    &:hover{
                        color: $color-primary;
                    }
                }
            }
        }
    }

    .footer__newsletter{
        position: relative;

        form{
            width: 90%;
            margin: 0 auto;
        }
    }

}



















}