.header{
    background: url(../img/header-bg.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;

    @media only screen and (max-width: $tab-port){
        height: auto;
    }
    @media only screen and (max-width: $mbl-land){
        background: url(../img/header-mobile-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
    }

    .container{
        &.big{
            // width: 95%;
            max-width: 95%;
        }
    }

    .navbar{
        padding-top: 4.5rem !important;
        .navbar-brand{
            width: 132px;
            img{
                width: 100%;
            }
            @media only screen and (max-width:$tab-port){
                width: 78pt;
            }
        }

        &-nav{

            @media only screen and (max-width:$tab-port){
                padding: 3rem;
                background: #000;
            }
            
            li{
                &:not(:last-child){
                    margin-right: 5rem;
                }

                @media only screen and (max-width:$tab-port){
                    &:not(:last-child){
                        margin-right: 0;
                    }
                }

                a{
                    &:link,
                    &:visited{
                        transition: all .3s;
                        color: #fff;
                        font-weight: bold;
                        &:hover,
                        &:active,
                        &:focus{
                            color: $color-primary;
                        }
                    }
                }

                
            }

            
        }
        .navbar-toggler{
            border: none;
            outline: 0;
        }

        .navbar-toggler-icon{
            background: none;
            border: none;
            position: relative;
            width: 4.5rem;
            height: 3px;
            background: #fff;
            border-radius: 10px;

            &::before,
            &::after{
                content:'';
                position: absolute;
                left: 0;
                width: 100%;
                height: 2.5px;
                background:#fff;
                display: block;
                transition: all .5s;
                border-radius: 10px;
            }

            &::before{
                top: -1.2rem;
            }

            &::after{
                top: 1.2rem;
            }
        }
    }
    
    .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
        color: $color-primary;
    }

    // =================================================
    // hero text box ===================================

    .hero__text-box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 90%;
        max-width: 95rem;

        @media only screen and (max-width: $tab-port){
            position: relative;
            top: inherit;
            left: inherit;
            transform: translate(0);
            padding-top: 15rem;
            padding-bottom: 15rem;
            margin: 0 auto;
        }
        h1{
            text-align: center;
            color: #FFFFFF;
            text-shadow: 0px 3px 3px #00000059;
            margin-bottom: 1.7rem;
        }

        p.sub-heading{
            max-width: 750px;
            color: #FFFFFF;
        }

        .booking{
            background: #fff;
            width: 696px;
            margin: 0 auto;
            height: 73px;
            box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.51);
            border-radius: 50px;
            padding: 1rem 1rem 1rem 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media only screen and (max-width: $tab-port){
                display: none;
            }

            .btn-booking{
                flex: 0 0 5.7rem;
            }


            &__options{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex: 1;
                &-option{
                    
                    
                    p{
                        font-weight: 500;
                        font-size: 1.3rem;
                        margin-top: 1.8rem;
                        padding: 0 3rem;
                        border-right: 1px solid #C2C2C2;
                        cursor: pointer;
                        &.guests{
                            border-right: none;
                        }
                        span{
                            display: block;
                            font-size: 1.6rem;
                            font-weight: 400;
                            color: $color-primary;
                            margin-bottom: 1.6rem;

                            &.town-name{
                                color: #C2C2C2;
                            }
                        }
                    }

                    .add-date{
                        label{
                            cursor: pointer;
                        }

                        input{
                            opacity: 0;
                            position: absolute !important;
                            visibility: hidden;
                            width: 0;
                            height: 0;
                            overflow: hidden;
                            
                        }
                    }



                    // ====================================
                    // select tag

                    .nice-select {
                        -webkit-tap-highlight-color: transparent;
                        background-color: transparent;
                        border-radius: 5px;
                        border: none;
                        box-sizing: border-box;
                        clear: both;
                        cursor: pointer;
                        display: block;
                        float: left;
                        font-family: inherit;
                        font-size: 14px;
                        font-weight: normal;
                        height: 42px;
                        line-height: normal; 
                        outline: none;
                        padding-left: 0; 
                        padding-right: 20px;
                        position: relative;
                        text-align: left !important;
                        -webkit-transition: all 0.2s ease-in-out;
                        transition: all 0.2s ease-in-out;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        white-space: nowrap;
                        width: auto;


                        &::after{
                            display: none;
                        }
                    }
                }
            }
        }

    }


    .btn-header{
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 16pt;
        display: none;

        @media only screen and (max-width: $tab-port){
            display: inline-block;
        }

    }


// ===========================================
// ==== booking form
.modal-content{
    border: 2rem;
}
.modal-header{
    padding: 3rem 4rem;
    border: none;

    .modal-title{
        font-size: 24pt;
    }

    .close{
        font-size: 40pt;
        font-weight: 400;
        color: #BD142C;
    }

    
}

.modal-body{
    padding: 1.5rem;
    

    .selector.town{
        margin-bottom: 1rem !important;
        padding-bottom: 1rem;
    }
    .nice-select.wide{
        margin-bottom: 2rem;
        border: none;
        border: 1px solid #C2C2C2;

        span{
            font-size: 15pt;
            font-weight: bold;
        }
    }

    .guests{
        margin-top: 10px;
        padding: 2.2rem 2.5rem;
        border: 1px solid #C2C2C2;

        h3.heading{
            font-size: 15pt;
            margin-bottom: 10px;
        }

        h4.heading{
            font-size: 13pt;
        }

        .nice-number{
            width: 100%;
            display: block;
            padding: .5rem 0;
            border: 1px solid #C2C2C2;
            border-radius: 1rem;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;

            input{
                border: none;
                font-size: 13pt;
                background: none;
            }

            button{
                background:none;
                border: none;
                font-size: 18pt;
                outline: 0;
                margin: 1rem;
            }
        }

        label.heading{
            font-size: 13pt;
        }

        .row{
            margin-bottom: 2rem;
        }
    }

    .extra{
        padding: 3rem;

        label{
            font-size: 13pt;
            font-weight: bold;
        }
    }

    .btn-box{
        margin-top: 10rem;

        .btn-popup{
            width: 100%;
            border-radius: 4px;
        }
    }


}


















}