.check-box label {
    color: #333;
    font-size: 18px;
    margin-bottom: 12px;
    cursor: pointer;
    font-weight: 400;
}

.check-box input[type="checkbox"] {
    display: none;
}

.check-box input[type="checkbox"]+label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -1px 15px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #a9b4c6;
    position: relative;
}

.check-box input[type="checkbox"]+label span:before {
    color: #fff;
    content: "\f00c";
    font-family: "FontAwesome";
    font-size: 11px;
    position: absolute;
    text-align: center;
    left: 3px;
    top: -4px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.check-box input[type="checkbox"]:checked+label span {
    background: #2079ff;
    border-color: #2079ff;
}

.check-box input[type="checkbox"]:checked+label span:before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.check-box input[type="checkbox"]+label span,
.check-box input[type="checkbox"]:checked+label span {
    -webkit-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}








.check-box input[type="checkbox"] + label span {
    border-radius: 0px;
    border-color: #eee;
    background: transparent;
}
.check-box input[type="checkbox"] + label span::before {
    background: #eee;
    content: "";
    height: 100%;
    left: 0;
    top: 0;
    transform: scale(1);
    width: 100%;
}
.check-box input[type="checkbox"]:checked + label span {
    border-color: #2079ff;
}
.check-box input[type="checkbox"]:checked + label span::before {
    transform: scale(0.6);
    background: #2079ff;
}
