@font-face {
    font-family: 'Neo Sans W1G';
    src: url('NeoSansW1G-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans W1G';
    src: url('NeoSansW1G-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans W1G';
    src: url('NeoSansW1G-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans W1G';
    src: url('NeoSansW1G-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

